.sideBar {
  width: 20%;
  height: 100vh;
  background: #24344C;
  border-right: 5px solid #7d7b7b;
}

.sideBar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

}

.sideBar ul li {
  padding: 12px;
  text-decoration: none;
  color:#fff;
  display: block
}

/* .sideBar ul li:focus{
  background: #c10303;
} */
.sideBar ul li:hover {
  background-color: #ffff;
  color:rgb(71, 71, 71);
}

.container{
  border: 1px solid;
    width: 300px;
    width: 30;
    height: 300px;
    margin-left: 5px;
   
}
.container h2{
  text-align: center;
}
.checkItems{
  list-style: none;
}
.App {
  display: flex;
}

/* .space{
  margin-left: 5px;
} */

.active{
  background: #c10303;
}